---
import CartIcon from '../Icons/CartIcon';
---
<header class="bg-white flex justify-between items-center p-5 h-24">
    <div class="flex flex-col justify-center">
        <h1 class="text-amber-900 text-3xl">Sobá da Rose</h1>
        <h2 class="text-amber-700 text-lg">Pedido para coleta no balcão</h2>
    </div>
    <a href="" class="bg-amber-600 hover:bg-amber-700 duration-200 flex items-center gap-2 p-2 rounded-lg h-3/4">
        <CartIcon />
        <p class="text-white">Carrinho</p>
    </a>
</header>
