---
import Categories from "./Carts/categories.astro"
import Dish from "./Carts/dish.astro"
---

<main>
    <aside>
        <slot name="categories">
    </aside>
    <section>
        <slot name="dish">
    </section>
</main>