---

---

<header class="flex justify-between items-center p-4 bg-gray-800 text-white">
    <div class="flex items-center bg-amber-900">
        <h1>Sobá da Rose</h1>
        <h2>Pedido para coleta no balcão</h2>
    </div>
    <div class="flex items-center space-x-4 bg-amber-200">
        <img src="" alt="">
        <a href="">Carrinho</a>
    </div>

</header>