<nav class="bg-white w-50 ">
    <h3 class="text-2xlls node_modules/.bin/tailwindcss
">Categorias</h3>
    <ul>
        <li><a href="#">Sobás</a></li>
        <li><a href="#">Sobremesas</a></li>
        <li><a href="#">Bebidas</a></li>
    </ul>
</nav>